<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quản_lý_bán_hàng.Properties.Settings.quanlybanhang"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;F:\c_Sharp\quản lý bán hàng\quản lý bán hàng\quanlybanhang.mdf&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>